<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>sanity</td><td>SecondTest.a()[pri:0, instance:browseractions.SecondTest@482f8f11]<br/></td></tr>
<tr><td>smoke</td><td>SecondTest.f()[pri:0, instance:browseractions.SecondTest@482f8f11]<br/>SecondTest.b()[pri:0, instance:browseractions.SecondTest@482f8f11]<br/></td></tr>
</table>
