<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>mavenautomation by groups</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd9bcd">  <td>21/09/18 16:33:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecondTest.a()[pri:0, instance:browseractions.SecondTest@482f8f11]">a</td> 
  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>21/09/18 16:33:05</td>   <td>150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecondTest.f()[pri:0, instance:browseractions.SecondTest@482f8f11]">f</td> 
  <td>main@1122134344</td>   <td></td> </tr>
</table>
