<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eff760">  <td>21/09/24 08:53:03</td>   <td>0</td> <td title="&gt;&gt;DriverInit.loadProperties()[pri:0, instance:testcases.LoginTest@3ffc5af1]">&gt;&gt;loadProperties</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>21/09/24 08:53:03</td>   <td>30</td> <td>&nbsp;</td><td title="&gt;&gt;DriverInit.loadURL()[pri:0, instance:testcases.LoginTest@3ffc5af1]">&gt;&gt;loadURL</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>21/09/24 08:53:16</td>   <td>12559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.LoginTest@3ffc5af1]">verifyLogin</td> 
  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>21/09/24 08:53:18</td>   <td>14726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInit.failureScreenshot(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@3ffc5af1]">&lt;&lt;failureScreenshot</td> 
<td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>21/09/24 08:53:18</td>   <td>14726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.LoginTest@3ffc5af1]">verifyLogin</td> 
  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>21/09/24 08:53:20</td>   <td>16709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInit.failureScreenshot(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@3ffc5af1]">&lt;&lt;failureScreenshot</td> 
<td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>21/09/24 08:53:20</td>   <td>16710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLogin(java.lang.String, java.lang.String)[pri:0, instance:testcases.LoginTest@3ffc5af1]">verifyLogin</td> 
  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>21/09/24 08:53:26</td>   <td>22448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInit.failureScreenshot(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@3ffc5af1]">&lt;&lt;failureScreenshot</td> 
<td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>21/09/24 08:53:26</td>   <td>22452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyAdminPageVerify()[pri:1, instance:testcases.LoginTest@3ffc5af1]">verifyAdminPageVerify</td> 
  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>21/09/24 08:53:30</td>   <td>26588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverInit.failureScreenshot(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@3ffc5af1]">&lt;&lt;failureScreenshot</td> 
<td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>21/09/24 08:53:30</td>   <td>26589</td> <td>&nbsp;</td><td title="&lt;&lt;DriverInit.closeBrowser()[pri:0, instance:testcases.LoginTest@3ffc5af1]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
</table>
