<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>mavenautomation by packages</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b66870">  <td>21/09/17 08:46:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.m1()[pri:0, instance:browseractions.FirstTest@7823a2f9]">m1</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>21/09/17 08:46:36</td>   <td>212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.m2()[pri:0, instance:browseractions.FirstTest@7823a2f9]">m2</td> 
  <td>main@1418621776</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>21/09/17 08:46:36</td>   <td>258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SecondTest.f()[pri:0, instance:browseractions.SecondTest@5c7fa833]">f</td> 
  <td>main@1418621776</td>   <td></td> </tr>
</table>
